<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title><%= current_page.data.title || "Zoë Rosen - Anthrochick" %></title>

        <meta name="description" content="Zoë Rosen is a UX designer and anthropologist based in Sydney, Australia. When she's not writing an ethnogrophy or painting, she's outside hiking, climbing and or tending to her garden.">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <%= stylesheet_link_tag 'site', relative: true %>

        <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <div id="content">
            <%= yield %>
        </div>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
