@import "compass/css3";

* {
    @include box-sizing(border-box);
}

body {
    margin: 0 auto;
}

.boxed {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 50px;

    &.after-title {
        margin-top: 0;
    }
}

section {
    padding: 0 50px;
}

section.cover {
    padding: 0;

    h2 {
        margin: 0 50px;
    }
}

#zoe-rosen {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0 50% !important;
    background-attachment: fixed !important;
    background: url(../img/zoe-hero-alt.jpg);
    height: 75vh;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    #me {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        width: 100%;
        transform: translate(0, -50%);
    }

    #blurry-cover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: 0 50% !important;
        background-attachment: fixed !important;
        background: url(../img/zoe-hero-alt-blur.jpg);
    }

    h1 {
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        font-weight: 300;
        font-style: italic;
        font-size: 32px;
        text-align: center;
    }
}

#namegear-user-flow {
    img {
        width: 100%;
        max-width: 1024px;
        display: block;
        margin: 0 auto;
        padding: 50px;
    }
}

.persona {
    width: 300px;
    margin: 0 auto;
    background: #f4f6f7;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;

    .desc {
        padding: 10px 20px;
        font-size: 12px;
    }

    .cover {
        position: relative;
        height: 200px;
        background: url(../img/ashley.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: 50% 50% !important;

        .name {
            font-weight: bold;
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 3;
            color: white;
        }

        .type {
            position: absolute;
            color: black;
            font-weight: bold;
            left: 0;
            top: 0;
            padding: 5px 10px;
            background: rgba(255, 255, 255, 0.6);
            width: 100%;
        }

        .experience {
            position: absolute;
            color: lighten(#f3cb00, 25);
            bottom: 10px;
            right: 10px;
            z-index: 3;
        }

        &:after {
            position: absolute;
            content: ' ';
            @include background-image(linear-gradient(rgba(0,0,0, 0.0), black));
            bottom: 0;
            height: 60px;
            left: 0;
            right: 0;
            z-index: 2;
        }
    }

}

#customer-journey-map {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 50% 50% !important;
    height: 60vh;
    background: url(../img/customer-journey-map.png);
    margin: 50px auto;
}

.parallax {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 50vh;
    margin: 50px auto;
}

#research {
    background: url(../img/zoe-interview.jpg);
}

#juanny {
    background: url(../img/juanny.jpg);
}

#personas {
    background: url(../img/persona-drawing.jpg);
}

.finding {
    margin: 50px;
    .name {
        font-size: 24px;
        padding: 40px 30px;
        border-radius: 5px;
        background-color: #45a2e1;
        color: white;
        text-align: center;
        width: 25%;
        float: left;
    }

    .desc {
        margin-left: 50px;
        float: left;
        width: 50%;

        em {
            font-weight: bold;
        }
    }
}

.clearfix {
    clear: both;
}

h3.subsection {
    font-weight: 300;
    font-size: 22px;
}

.overview {
    margin-top: 20px;

    @media only screen and (max-width: 500px) {
        float: none;
        width: 100%;
        padding: 0;
    }

    h3 {
        font-size: 14px;
        margin-top: 0;
        margin-left: 50px;
        width: 20%;
        float: left;
    }

    p, ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        float: left;
    }

    ul {
        list-style-type: none;
    }
}

.approach {
    h4 {
        margin-bottom: 0;
    }

    p {
        margin-top: 5px;
    }
}

#books-and-crafts-user-flow {
    img {
        width: 100%;
        max-width: 1024px;
        display: block;
        margin: 0 auto;
        padding: 50px;
    }
}

.new-scenario {
    width: 50%;
    float: left;
    text-align: center;
    padding: 20px;

    @media only screen and (max-width: 500px) {
        float: none;
        width: 100%;
        padding: 0;
    }
}

.prototype a {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;

    &:hover {
        text-decoration: none !important;
        border: none;
    }
}

.proto {
    text-align: center;
}

#client-details {
    list-style-type: none;
    padding: 0;

    li {
        float: left;
        width: 33%;
        padding: 10px;

        &:nth-child(1) {
            text-align: left;
        }

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;
        }
    }
}

.hero-ish {
    width: 100%;
    display: block;
}

.hero-ish-container {
    background-color: #f6edf6;
    padding: 0 20px 20px 20px;
}

#profile {
    max-width: 250px;
    float: right;
}

.case-study {
    margin-bottom: 40px;

    .logo {
        width: 50%;
        height: 250px;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
        float: left;
    }

    .desc {
        width: 50%;
        float: left;
        padding-left: 50px;
        margin-bottom: 30px;

        h3 {
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            margin-top: 0;
            margin-bottom: 0;
        }

        h4 {
            font-size: 12px;
            margin-top: 0;
            font-weight: normal;
            font-style: italic;
        }

        p {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    &#books-and-crafts .logo {
        background: url("../img/bac.png");
        background-color: darken(#fbfcfc, 5%);
    }

    &#namegear .logo {
        background: url("../img/namegear-logo.png");
        background-color: darken(#fbfcfc, 5%);
    }

    &#transport-nsw .logo {
        background: url("../img/transport-nsw-logo.png");
    }
}

#design-process {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 50vh;
    background-position: center !important;
    background: url("../img/process.png");
}

#skill-tree {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 80vh;
    background-position: center !important;
    background: url("../img/skill-tree.jpg");
}

#case-studies {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f4f6f7;
    margin-bottom: 50px;
}

#quote {
    font-size: 48px;
    background: #f4f6f7;
    text-align: center;
    padding: 50px 0;
    // font-style: italic;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;

    cite {
        margin-top: 20px;
        display: block;
        text-align: right;
        font-size: 18px;
        font-style: italic;
    }
}


#skill-tree-section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f1fafa;
}

#skill-1 {
    top: 40px;
}

#skill-2 {
    top: 25%;
}

#skill-3 {
    top: 50%;
}

#skill-4 {
    top: 75%;
}
.skillset {
    left: 50px;
    position: absolute;
    list-style-type: none;
    padding: 0;
    width: 20%;

    h3 {
        font-size: 12px;
        border-bottom: 2px solid black;
    }

    li {
        font-size: 10px;
    }
}

#testimonials cite {
    @media only screen and (max-width: 500px) {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }

    display: block;
    margin-bottom: 20px;
    width: 30%;
    float: left;
    margin-right: 3%;
}

h1 {
    font-family: "Open Sans";
    text-align: center;
    font-size: 70px;
    margin: 10px auto;
}

h2, h3 {
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    border-top: 4px solid black;
    padding-top: 15px;
    margin-top: 0;

    &.no-line {
        border: none;
    }

    &.subhead {
        font-family: "Open Sans";
        margin-top: -20px;
        padding-top: 0;
        border: none;
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
        text-transform: none;
        text-align: center;
    }
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

p {
    margin-bottom: 40px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #ff0096;

    &:hover {
        border-bottom: 2px solid;
    }
}

#namegear-mockup {
    display: block;
    width: 100%;
}

#contact-methods ul {
    text-align: center;
    font-size: 18px;
    list-style-type: none;
    padding: 0;

    li {
        margin-bottom: 18px;
    }
}

#linkedin {
    font-size: 52px;
}

.credit {
    .face {
        float: left;
        margin-right: 10px;
    }

    font-size: 14px;
    margin-top: 20px;
}
