---
title: Zoë Rosen
---

<section class="boxed">
    <h1>Books &amp; Craft</h1>
</section>

<section class="boxed">
    <h2>Case Study</h2>

    <div class="overview">
        <h3>Overview</h3>
        <p>
        Books &amp; Craft creates personalised stationary to order. This small
        business was transitioning from being a side hobby with friends
        requesting orders to something much bigger. As the transition grew the
        Client was facing greater difficulties tracking orders
        </p>
    </div>

    <div class="overview">
        <h3>My Role</h3>
        <ul>
            <li> Lead UX Consultant </li>
            <li> Identify business needs </li>
            <li> Ideate for a solution </li>
            <li> Manage stakeholder expectation </li>
            <li> Product testing for learnibility </li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="overview">
        <h3>Project Duration</h3>
        <p>1 week project</p>
    </div>

    <div class="overview">
        <h3>Tools</h3>
        <ul>
            <li>Stakeholder Interviews</li>
            <li>Sketching</li>
            <li>Wireframing</li>
            <li>User Testing</li>
            <li>POP- Prototype on Paper- interactive prototype app</li>
        </ul>
    </div>

    <div class="clearfix"></div>
</section>

<section class="boxed approach">
    <h2>Approach</h2>

    <h4>Building trust by focusing on the client</h4>
    <p>
    By empathising with the stakeholders situation and keeping the informed of
    the direction we are taking. Understanding that new directors are often
    protective of their budding business so it's important to to keep them
    involved and any work should be phased in the 'we' tense to help encourage
    feelings of collaboration and transperency. It's very important for our
    client that we are making their job easier so we need to make sure our
    research is through and they trust us with the information they are
    providing.
    </p>

    <h4>Methods</h4>
    <p>
    In this scenario I relied heavily on sketching materials and user flows. I
    spoke to my client daily about the strategy and the steps I was taking to
    impliment a solution. I decided to design for a mobile device. I performed
    user testing. In the final stages and I created an interactive POP
    application.
    </p>
</section>

<section class="boxed">
    <h2>Previous Client Scenario</h2>

    <img class="hero-ish" src="/img/books-and-crafts/previous-scenario.png"/>
    <ol id="client-details">
        <li>Client is a small business owner</li>
        <li>She travels light, relying on her memory when taking orders in the field.</li>
        <li>She often forgets the details of orders and has to reconfirm them.</li>
    </ol>

    <div class="clearfix"></div>

    <p>
    Researched the stages the client moves through when taking an order and
    created a flow of the stages that the client realies on for her business.
    </p>
</section>

<section>
    <section class="boxed">
        <h2>Introducing the Clients to Useful Tools</h2>
    </section>

    <div id="user-flow"></div>

    <section class="boxed">
        <p>
        In client interview it was revealed that the client rarely carries anything
        other than their phone.  Our solution was to create a mobile app for internal
        order traking, while also offering the client a way to  show examples of
        existing work as they discusses B&C's products.
        </p>
    </section>
</section>

<section class="boxed">
    <h2>Techniques</h2>

    <ul>
        <li>Obersvational and discussion based.</li>
        <li>Learnibility testing on 8 participants</li>
        <li>Prototyping, iteration and redesign.</li>
    </ul>
</section>

<section class="boxed">
    <h2>Design Features</h2>

    <ul>
        <li>Large buttons</li>
        <li>Opportunies to go back.</li>
        <li>Inclusing of all aspects of the order.</li>
        <li>Login on when necessary to secure client information, therefore not interrupting the New Order Process.</li>
        <li>Will impliment the Clients existing branding and images.</li>
        <li>Allows fast access to gallery to showcase previous work.</li>
        <li>Allows for fast progress check on each product.</li>
    </ul>
</section>

<section class="boxed">
    <h2>New Client Scenario</h2>

    <div class="new-scenario">
        <img src="img/books-and-crafts/new-scenario-1.png"/>
        <p>
        Now the client has a tool always on them
        </p>
    </div>

    <div class="new-scenario">
        <img src="img/books-and-crafts/new-scenario-2.png"/>
        <p>
        Client now uses tool to remember order details and complete their work.
        </p>
    </div>

    <div class="clearfix"></div>
</section>

<section class="boxed">
    <div id="contact-methods">
        <ul>
            <li>
                <div>
                Ask me a question
                </div>
                <a href="mailto:zoe@anthrochick.com">zoe@anthrochick.com</a>
            </li>

            <li id="linkedin">
                <a href="https://au.linkedin.com/in/zoerosen">
                    <span class="fa fa-linkedin-square"></span>
                </a>
            </li>
        </ul>
    </div>
</section>

