---
title: Dreams - Zoë Rosen
---


<section id="dreams" class="cover">
    <div class="boxed">
        <h1>Dreams</h1>
        <h2>
        These are my personal projects, goals and dreams I am involved with.
        </h2>
    </div>
</section>

<section id="sdt" class="parallax cover">
    <h2>
        Come join me at ThoughtWorks
        <a href="https://www.google.com.au/maps?q=thoughtworks+sydney&oe=utf-8&client=firefox-b-ab&gfe_rd=cr&um=1&ie=UTF-8&sa=X&ved=0ahUKEwino4jxudPVAhUIyrwKHVPtBq8Q_AUICygC"><i class="fa fa-map-marker"></i></a>
        where I co-host
        <a href="http://www.meetup.com/Sydney-Design-Thinking-Meetup/">Sydney Design Thinking</a>
    </h2>
</section>

<section id="natgeo" class="parallax cover">
    <div class="boxed">
        <div class="relative">
            <div class="abs">
                <h2>
                    National Geographic Society
                </h2>

                <p>
                Assitant scientist and caver on
                <a href="http://voices.nationalgeographic.com/blog/rising-star-expedition/">National Geographic Rising Star</a>
                expedition, where the largest catchment of early hominid fossils was
                discovered by <a href="https://en.wikipedia.org/wiki/Lee_Rogers_Berger">Dr. Lee Berger</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="parrots" class="cover">
    <div class="boxed">
        <h2>Parrot Sanctuary</h2>
        <p>
            I used to work with parrot rehabilitation. I aim to get back into
            it once I can secure a large avery. Parrots are wonderful creatures
            and people often want to keep them as pets. As parrots live for
            around 100 years, parrots often outlive their owners. In these
            cases, birds are typically abandoned. I want to create an avery
            charity to house abandoned birds.
        </p>
    </div>
</section>
