---
title: Zoë Rosen
---

<section id="zoe-rosen" class="cover">
    <div id="blurry-cover"></div>

    <div id="me">
        <h1>
            Hi, I'm Zoë Rosen.
        </h1>

        <p>I'm a designer, anthropologist and foodie</p>
    </div>

    <!-- <p> -->
    <!-- Background: -->
    <!-- &#45; User Experience 10 week Immersive. General Assembly Feb 2015  -->
    <!-- &#45; 4 Month Internship at The Customer Experience Company -->
    <!-- &#45; Education; Cultural and Behavioural Anthropology. Macquarie University in 2013.  -->
    <!-- &#45; National Geographic database creation manager in South Africa   -->
    <!-- </p> -->
</section>


<!-- <section> -->
<!--     <h2>Design Process</h2> -->
<!--  -->
<!--     <div id="design&#45;process"></div> -->
<!-- </section> -->

<!-- <section id="skill&#45;tree&#45;section" class="cover"> -->
<!--     <h2>Skill Tree</h2> -->
<!--  -->
<!--     <div id="skill&#45;tree"></div> -->
<!--  -->
<!--     <ul id="skill&#45;1" class="skillset"> -->
<!--         <h3>Tools</h3> -->
<!--         <li>Axure</li> -->
<!--         <li>Sketch</li> -->
<!--         <li>Li&#45;fi prototyping</li> -->
<!--         <li>Persona creation</li> -->
<!--     </ul> -->
<!--  -->
<!--     <ul id="skill&#45;2" class="skillset"> -->
<!--         <h3>Methods</h3> -->
<!--         <li>Product testing</li> -->
<!--         <li>Customer journey maps</li> -->
<!--         <li>Interviews &#38;amp; surveys</li> -->
<!--     </ul> -->
<!--  -->
<!--     <ul id="skill&#45;3" class="skillset"> -->
<!--         <h3>Strengths</h3> -->
<!--         <li>Ethnography</li> -->
<!--         <li>Information analysis</li> -->
<!--         <li>Human behaviour insights</li> -->
<!--     </ul> -->
<!--  -->
<!--     <ul id="skill&#45;4" class="skillset"> -->
<!--         <h3>Roots</h3> -->
<!--         <li>Anthropology</li> -->
<!--         <li>Research</li> -->
<!--     </ul> -->
<!-- </section> -->

<section class="boxed">
    <h2 class="no-line">Some of My Work</h2>
</section>

<section class="boxed">
    <div class="case-study coming-soon" id="namegear">
        <div class="logo"></div>

        <div class="desc">
            <h3>
                Namegear
            </h3>

            <h4>Website evaluation &amp; redesign</h4>

            <p>
            Namegear is a domain name registration service, targetting the
            English-speaking Asia-Pacific market. They aim to redefine the industry by
            offering innovative products that are secure and intuitive.
            </p>

            <p>
            Namegear wanted to improve conversions on their website in two key areas:
            The registration of new domains and the transfer of existing domains.
            </p>

            <p>
            <a href="namegear.html">view project <i class="fa fa-arrow-circle-o-right"></i></a>
            </p>
        </div>


        <div class="clearfix"></div>
    </div>

    <div class="case-study coming-soon" id="books-and-crafts">
        <div class="logo"></div>

        <div class="desc">
            <h3>
                Books &amp; Crafts
            </h3>

            <h4>Ultra-lightweight mobile prototype</h4>

            <p>
            Books &amp; Crafts creates personalised stationary. They're a small
            business who are transitioning to something bigger. As the business
            continues to grow they face greater difficulties tracking orders and
            managing clients.
            </p>

            <p>
            Books &amp; Crafts wanted to improve their order managment, but the owner
            is always on the road. They asked me to rapidly prototype a mobile
            application to solve their problem.
            </p>

            <p>
            <a href="books-and-crafts.html">view project <i class="fa fa-arrow-circle-o-right"></i></a>
            </p>
        </div>


        <div class="clearfix"></div>
    </div>

    <!-- <div class="case&#45;study coming&#45;soon" id="books&#45;and&#45;crafts"> -->
    <!--     <div class="logo"></div> -->
    <!--  -->
    <!--     <h3> -->
    <!--         Books &#38;amp; Crafts. Mobile Application. -->
    <!--     </h3> -->
    <!--  -->
    <!--     <h4> -->
    <!--         Personalised notebooks and photo albums online store -->
    <!--     </h4> -->
    <!--  -->
    <!--     <div class="clearfix"></div> -->
    <!-- </div> -->
    <!--  -->
    <!-- <div class="case&#45;study coming&#45;soon" id="transport&#45;nsw"> -->
    <!--     <div class="logo"></div> -->
    <!--  -->
    <!--     <h3> -->
    <!--         Transport NSW (coming soon). Mobile App.  -->
    <!--     </h3> -->
    <!--  -->
    <!--     <h4> -->
    <!--         Driving better transport outcomes -->
    <!--     </h4> -->
    <!--  -->
    <!--     <div class="clearfix"></div> -->
    <!-- </div> -->
</section>

<div class="clearfix"></div>

<section id="case-studies" class="cover">
    <section id="testimonials" class="boxed">
        <cite>
            "Zoë has a wonderful energy and fantastic insights into how to conduct
            effective research."

            <div class="credit anonymous">
                <img class="face" src="img/anonymous.png" />
                Anonymous - GA classmate
            </div>
            <div class="clearfix"></div>
        </cite>


        <cite>
            "Great researcher. Zoë thinks outside the box, always enthusiastic. I
            love Zoë's energy and I bet no one can do research like her."

            <div class="credit">
                <img class="face" src="img/anonymous.png" />
                Anonymous - GA classmate
            </div>
            <div class="clearfix"></div>
        </cite>

        <cite>
            "I love Zoë's positive energy. Keep channeling that into UX! Her passion
            can persuade almost anyone."

            <div class="credit">
                Tim Alexander - Atterjé
            </div>
            <div class="clearfix"></div>
        </cite>

        <div class="clearfix"></div>
    </section>
</section>

<section class="boxed">
    <h2>Contact</h2>
    <div id="contact-methods">
        <ul>
            <li>
                <p>
                Send me an email!
                </p>
                <a href="mailto:zoe@anthrochick.com">zoe@anthrochick.com</a>
            </li>

            <li id="linkedin">
                <a href="https://au.linkedin.com/in/zoerosen">
                    <span class="fa fa-linkedin-square"></span>
                </a>
            </li>
        </ul>
    </div>
</section>

<script>
    $(window).scroll(function() {
        var oVal;
        oVal = $(window).scrollTop() / 400;
        return $("#blurry-cover").css("opacity", oVal);
    });
</script>
