---
title: Zoë Rosen
---

<section class="boxed">
    <h1>
        Zoë Rosen
        <img id="profile" src="img/profile.jpg" />
        <div class="clearfix"></div>
    </h1>
    <h2>UX Designer</h2>

    <p>
    Hi, I'm Zoë. I absolutely love people and despise a lot of user related
    services out there. I've decided that the best way to keep working with
    people while making their lives better was to become a UX designer.
    </p>

    <p>
    Background:
    - User Experience 10 week Immersive. General Assembly Feb 2015 
    - 4 Month Internship at The Customer Experience Company
    - Education; Cultural and Behavioural Anthropology. Macquarie University in 2013. 
    - National Geographic database creation manager in South Africa  
    </p>
</section>


<!-- <section> -->
<!--     <h2>Design Process</h2> -->
<!--  -->
<!--     <div id="design&#45;process"></div> -->
<!-- </section> -->

<!-- <section id="skill&#45;tree&#45;section" class="cover"> -->
<!--     <h2>Skill Tree</h2> -->
<!--  -->
<!--     <div id="skill&#45;tree"></div> -->
<!--  -->
<!--     <ul id="skill&#45;1" class="skillset"> -->
<!--         <h3>Tools</h3> -->
<!--         <li>Axure</li> -->
<!--         <li>Sketch</li> -->
<!--         <li>Li&#45;fi prototyping</li> -->
<!--         <li>Persona creation</li> -->
<!--     </ul> -->
<!--  -->
<!--     <ul id="skill&#45;2" class="skillset"> -->
<!--         <h3>Methods</h3> -->
<!--         <li>Product testing</li> -->
<!--         <li>Customer journey maps</li> -->
<!--         <li>Interviews &#38;amp; surveys</li> -->
<!--     </ul> -->
<!--  -->
<!--     <ul id="skill&#45;3" class="skillset"> -->
<!--         <h3>Strengths</h3> -->
<!--         <li>Ethnography</li> -->
<!--         <li>Information analysis</li> -->
<!--         <li>Human behaviour insights</li> -->
<!--     </ul> -->
<!--  -->
<!--     <ul id="skill&#45;4" class="skillset"> -->
<!--         <h3>Roots</h3> -->
<!--         <li>Anthropology</li> -->
<!--         <li>Research</li> -->
<!--     </ul> -->
<!-- </section> -->
<!--  -->
<section class="boxed">
    <h2>Some of My Work</h2>
</section>

<section id="case-studies" class="cover">
    <section class="boxed">
        <a href="/books-and-crafts.html">
            <div class="case-study" id="books-and-crafts">
                <div class="logo"></div>

                <h3>
                    Books &amp; Crafts. Mobile Application.
                </h3>

                <h4>
                    Personalised notebooks and photo albums online store
                </h4>

                <div class="clearfix"></div>
            </div>
        </a>

        <div class="case-study coming-soon" id="namegear">
            <div class="logo"></div>

            <h3>
                namegear.co (coming soon). Website re-design.
            </h3>

            <h4>
                Geeky but friendly domain registrar
            </h4>

            <div class="clearfix"></div>
        </div>

        <div class="case-study coming-soon" id="transport-nsw">
            <div class="logo"></div>

            <h3>
                Transport NSW (coming soon). Mobile App. 
            </h3>

            <h4>
                Driving better transport outcomes
            </h4>

            <div class="clearfix"></div>
        </div>
    </section>

    <div class="clearfix"></div>
</section>

<section id="testimonials" class="boxed">
    <cite>
        "Zoë has a wonderful energy and fantastic insights into how to conduct
        effective research."

        <div class="credit anonymous">
            <img class="face" src="img/anonymous.png" />
            Anonymous - GA classmate
        </div>
        <div class="clearfix"></div>
    </cite>


    <cite>
        "Great researcher. Zoë thinks outside the box, always enthusiastic. I
        love Zoë's energy and I bet no one can do research like her."

        <div class="credit">
            <img class="face" src="img/anonymous.png" />
            Anonymous - GA classmate
        </div>
        <div class="clearfix"></div>
    </cite>

    <cite>
        "I love Zoë's positive energy. Keep channeling that into UX! Her passion
        can persuade almost anyone."

        <div class="credit">
            Tim Alexander - Atterjé
        </div>
        <div class="clearfix"></div>
    </cite>

    <div class="clearfix"></div>
</section>

<section class="boxed">
    <h2>Contact</h2>
    <div id="contact-methods">
        <ul>
            <li>
                <p>
                Send me an email!
                </p>
                <a href="mailto:zoe@anthrochick.com">zoe@anthrochick.com</a>
            </li>

            <li id="linkedin">
                <a href="https://au.linkedin.com/in/zoerosen">
                    <span class="fa fa-linkedin-square"></span>
                </a>
            </li>
        </ul>
    </div>
</section>

