---
title: Zoë Rosen - Anthrochick
---

<section>
    <h1>Zoë Rosen</h1>
    <h2>UX Designer &amp; AnthroChick</h2>

    <p>
    Hi, I'm Zoë. I absolutely love people and despise a lot of user related
    services out there. Therefore, I've decided that the best way to keep
    working with people while making their lives better was to become a UX
    designer.
    </p>

    <p>
    Partly this justifies my desire to follow people around, partly because
    I can make a difference the way people experience the world and partly
    because I love a challenge!
    </p>
</section>


<section>
    <h2>Contact Me</h2>

    <div id="contact-methods">
        <ul>
            <li>
                <a href="mailto:zoe@anthrochick.com">zoe@anthrochick.com</a>
            </li>

            <li>
                <a href="https://au.linkedin.com/in/zoerosen">
                    <span class="fa fa-linkedin-square"></span>
                    linkedin
                </a>
            </li>
        </ul>
    </div>
</section>

<section id="skill-tree-section" class="cover">
    <h2>Skill Tree</h2>

    <div id="skill-tree"></div>

    <ul id="skill-1" class="skillset">
        <h3>Tools</h3>
        <li>Axure</li>
        <li>Sketch</li>
        <li>Li-fi prototyping</li>
        <li>Persona creation</li>
    </ul>

    <ul id="skill-2" class="skillset">
        <h3>Methods</h3>
        <li>Product testing</li>
        <li>Customer journey maps</li>
        <li>Interviews &amp; surveys</li>
    </ul>

    <ul id="skill-3" class="skillset">
        <h3>Strengths</h3>
        <li>Ethnography</li>
        <li>Information analysis</li>
        <li>Human behaviour insights</li>
    </ul>

    <ul id="skill-4" class="skillset">
        <h3>Roots</h3>
        <li>Anthropology</li>
        <li>Research</li>
    </ul>
</section>

