---
title: Zoë Rosen
---


<section id="zoe-rosen" class="cover">

    <div id="me">
        <p>
        <span class="hi">Hi, I'm Zoë Rosen.</span>
            I'm an anthropologist, UX designer and explorer of minds. I invite you
            to explore my mind, my dreams and my services.
        </p>
    </div>
</section>

<section id="what-is-anthro" class="boxed">
    <h2>What is anthropology &amp; how does it relate to UX?</h2>

    <p>
    Anthropology is a discipline that greedily seeks knowledge of human
    behaviour and everything humans are involved with. UX is obsessed with the
    experiences that a person has with a product or a service.
    </p>

    <p>
    Anthropology focuses on research and observation. It involves being
    immersed in the experiences of others, what their motivations are, and
    which belief systems they ascribe to. UX is a process of designing to the
    cultural conditioning that a given human ascribes to. Together, UX and
    anthropology, are powerful tools that allow you to understand why someone
    does what they do and how to optimise for those behaviours.
    </p>
</section>

<section id="in-short" class="cover">
    <div class="boxed">
        <h3>In Short...</h3>
        <h2>Anthropology + Design = Human Centered Design</h2>
    </div>
</section>


