---
title: Work - Zoë Rosen
---

<section id="case-studies" class="cover">
    <div id="ng-cs">
        <div class="boxed">
            <div class="case-study coming-soon" id="namegear">
                <div class="logo">
                    <img src="../img/ng-macbook.png"></img>
                </div>

                <div class="desc">
                    <h3>
                        Namegear
                    </h3>

                    <h4>Website evaluation &amp; redesign</h4>

                    <!-- <p> -->
                    <!-- Namegear is a domain name registration service, targetting the -->
                    <!-- English&#45;speaking Asia&#45;Pacific market. They aim to redefine the industry by -->
                    <!-- offering innovative products that are secure and intuitive. -->
                    <!-- </p> -->
                    <!--  -->
                    <p>
                    Namegear wanted to improve conversions on their website in two key areas:
                    The registration of new domains and the transfer of existing domains.
                    </p>

                    <p class="see">
                    <a class="button" href="namegear.html">See Casestudy <i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="bc-cs">
        <div class="boxed">
            <div class="case-study coming-soon" id="books-and-crafts">
                <div class="logo">
                    <img src="../img/bc-iphone.png"></img>
                </div>

                <div class="desc">
                    <h3>
                        Books &amp; Crafts
                    </h3>

                    <h4>Ultra-lightweight mobile prototype</h4>
                    <!--  -->
                    <!-- <p> -->
                    <!-- Books &#38;amp; Crafts creates personalised stationary. They're a small -->
                    <!-- business who are transitioning to something bigger. As the business -->
                    <!-- continues to grow they face greater difficulties tracking orders and -->
                    <!-- managing clients. -->
                    <!-- </p> -->

                    <p>
                    Books &amp; Crafts wanted to improve their order managment, but the owner
                    is always on the road. They asked me to rapidly prototype a mobile
                    application to solve their problem.
                    </p>

                    <p class="see">
                    <a class="button" href="books-and-crafts.html">See Casestudy <i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- <div class="case&#45;study coming&#45;soon" id="books&#45;and&#45;crafts"> -->
    <!--     <div class="logo"></div> -->
    <!--  -->
    <!--     <h3> -->
    <!--         Books &#38;amp; Crafts. Mobile Application. -->
    <!--     </h3> -->
    <!--  -->
    <!--     <h4> -->
    <!--         Personalised notebooks and photo albums online store -->
    <!--     </h4> -->
    <!--  -->
    <!--     <div class="clearfix"></div> -->
    <!-- </div> -->
    <!--  -->
    <!-- <div class="case&#45;study coming&#45;soon" id="transport&#45;nsw"> -->
    <!--     <div class="logo"></div> -->
    <!--  -->
    <!--     <h3> -->
    <!--         Transport NSW (coming soon). Mobile App.  -->
    <!--     </h3> -->
    <!--  -->
    <!--     <h4> -->
    <!--         Driving better transport outcomes -->
    <!--     </h4> -->
    <!--  -->
    <!--     <div class="clearfix"></div> -->
    <!-- </div> -->
</section>

<div class="clearfix"></div>
<section id="clients" class="boxed">
    <div>
        <img src="../img/logos/cochlear-logo.gif" alt="Cochlear"></img>
        <img src="../img/logos/allianz-logo.png" alt="Allianz"></img>
        <img src="../img/logos/bac-logo.png" alt="Books &amp; Co."></img>
        <img src="../img/logos/namegear-logo.png" alt="NameGear"></img>
        <img src="../img/logos/westpac-logo.png" alt="Westpac"></img>
        <img src="../img/logos/rabo-logo.png" alt="RaboDirect"></img>
        <img src="../img/logos/cba-logo.jpg" alt="Commonwealth Bank"></img>
        <img src="../img/logos/aci-logo.png" alt="NSW Agency for Clinical Innovation"></img>
        <img src="../img/logos/pi-logo.png" alt="Perceptive Ideas"></img>
        <img src="../img/logos/dji-logo.png" alt="NSW Government - Justice"></img>
        <img src="../img/logos/natgeo-logo.png" alt="National Geographic"></img>
        <img src="../img/logos/goodyear-logo.jpg" alt="Dunlop / Goodyear"></img>
        <img src="../img/logos/cec-logo.png" alt="The Customer Experience Company"></img>
    </div>
</section>
